:root {
    --black: #171321;
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--light-gray);
    font-size: 15px;
    padding: 4.4%;
}

h2 {
    font-family: 'Oxygen', sans-serif;
    color: var(--dark-blue);
    font-weight: 700;
}
p {
    font-family: 'Oxygen Mono', monospace;
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 15px;
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 0;
    margin: 0;
}

figure {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border: 20px solid var(--white);
    border-radius: 20px;
    background-color: var(--white);
    text-align: center;
}
img {
    border-radius: 15px;
    width: 300px;
}
figcaption {
    width: 300px;
}